### Theme
#
# Set GTK theme
#
	# GTK
	set $gnome-schema org.gnome.desktop.interface
	exec_always {
		gsettings set $gnome-schema gtk-theme 'Yaru-dark'
		gsettings set $gnome-schema icon-theme 'Yaru-dark'
		gsettings set $gnome-schema cursor-theme 'Breeze'
	}

	# Borders and gaps
	default_border pixel 1
	smart_gaps on
	gaps inner 4

# Background
set $background /usr/share/backgrounds/sway/wallpaper.jpg