#
# Sway Window Rules
#

#
# Default workspaces for common programs
#

	# Auto float apps
	for_window [app_id="system-config-printer"] floating enable
	for_window [app_id="keepassxc"] floating enable
	for_window [class="(?i)Lxappearance$"] floating enable
	for_window [app_id="(?i)mpv"] floating enable
	for_window [app_id="pavucontrol"] floating enable
	for_window [app_id="vlc"] floating enable
	for_window [app_id="wpg"] floating enable
	for_window [app_id="tlp-ui"] floating enable
	for_window [app_id="pamac-manager"] floating enable
	for_window [app_id="nm-connection-editor$"] floating enable
	for_window [app_id="(pavucontrol|psensor)"] floating enable
	for_window [app_id="soffice"] floating enable
	for_window [title="^Open File$"] floating enable
	for_window [title="nmtui - Kitty"] floating enable
	for_window [window_role="GtkFileChooserDialog"] resize set 800 600
	for_window [window_role="GtkFiileChooserDialog"] move position center
	for_window [app_id="doublecmd" title="^(?!Double Commander).*$"] floating enable, resize set 80 ppt 80 ppt

	# default floating
	for_window [window_role="pop-up"] floating enable
	for_window [window_role="bubble"] floating enable
	for_window [window_role="task_dialog"] floating enable
	for_window [window_role="Preferences"] floating enable
	for_window [window_type="dialog"] floating enable
	for_window [window_type="menu"] floating enable
	for_window [instance="update_installer"] floating enable

        # chrome should not handle super key
        for_window [app_id="^chrome-.*-.*$"] shortcuts_inhibitor disable
