* {
  background: transparent;
  border-radius: 0;
  border: none;
  box-shadow: none;
  font-family: monospace;
}

.popup {
  background-color: #1c1c1c;
  opacity: 0.8;
}

/* Hela workspace-containern */
.workspaces {
  background: transparent;
  padding: 0;
}

/* Alla workspace-knappar */
.workspaces button {
  background: transparent;
  border: none;

  color: #cccccc;
  /* normal färg */
  font-weight: normal;

  padding: 4px 8px;
  margin: 0 2px;

  /* textskugga */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);

  /* ta bort hover-bakgrund */
  box-shadow: none;
}

/* Hover (valfritt) */
.workspaces button:hover {
  color: #ffffff;
}

/* Aktiv workspace */
.workspaces button.active {
  color: #ff8800;
  /* aktiv färg */
  font-weight: bold;

  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}
