{
    "modules-left": ["sway/workspaces", "sway/mode"],
    "modules-center": ["clock", "idle_inhibitor"],
    "modules-right": ["tray", "custom/scratchpad-indicator", "pulseaudio", "network", "backlight", "battery", "bluetooth", "custom/power"],

    "sway/mode": {
        "format": "<span style=\"italic\">{}</span>"
    },
    "network": {
        "format-wifi": "{essid} ({signalStrength}%) ",
        "format-ethernet": "{ifname} ",
        "format-disconnected": "",
        "max-length": 50,
        "on-click": "alacritty -e 'nmtui'"
    },
    "idle_inhibitor": {
        "format": "{icon}",
        "format-icons": {
            "activated": "",
            "deactivated": ""
        }
    },
    "tray": {
        "icon-size": 15,
        "spacing": 10
    },
    "clock": {
        "format": "{:%H:%M}  ",
        "format-alt": "{:%Y-%m-%d %A (%R)}  ",
        "locale": "sv_SE.utf8",
        "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
        "calendar-weeks-pos": "left",
        "today-format": "<span color='#ff6699'><b><u>{}</u></b></span>",
        "format-calendar": "<span color='#ecc6d9'><b>{}</b></span>",
        "format-calendar-weeks": "<span color='#99ffdd'><b>W{:%U}</b></span>",
        "format-calendar-weekdays": "<span color='#ffcc66'><b>{}</b></span>",
        "on-scroll": {
                    "calendar": 1
                     }
    },
    "pulseaudio": {
        "format": "{volume}% {icon} ",
        "format-bluetooth": "{volume}% {icon} {format_source}",
        "format-bluetooth-muted": " {icon} {format_source}",
        "format-muted": "0% {icon} ",
        "format-source": "{volume}% ",
        "format-source-muted": "",
        "format-icons": {
            "headphone": "",
            "hands-free": "",
            "headset": "",
            "phone": "",
            "portable": "",
            "car": "",
            "default": ["", "", ""]
        },
        "on-click": "pavucontrol"
    },
    "custom/power": {
        "format": " ",
            "on-click": "swaynag -t warning -m 'Power Menu Options' -b 'Logout' 'swaymsg exit' -b 'Restart' 'shutdown -r now' -b 'Shutdown'  'shutdown -h now' --background=#005566 --button-background=#009999 --button-border=#002b33 --border-bottom=#002b33"
    },
    "custom/scratchpad-indicator": {
        "format-text": "{}",
        "return-type": "json",
        "interval": 3,
        "exec": "~/.local/bin/scratchpad-indicator 2> /dev/null",
        "exec-if": "exit 0",
        "on-click": "swaymsg 'scratchpad show'",
        "on-click-right": "swaymsg 'move scratchpad'"
    },
    "bluetooth": {
	"format": " {status}",
	"format-connected": " {device_alias}",
	"format-connected-battery": " {device_alias} {device_battery_percentage}%",
	// "format-device-preference": [ "device1", "device2" ], // preference list deciding the displayed device
	"tooltip-format": "{controller_alias}\t{controller_address}\n\n{num_connections} connected",
	"tooltip-format-connected": "{controller_alias}\t{controller_address}\n\n{num_connections} connected\n\n{device_enumerate}",
	"tooltip-format-enumerate-connected": "{device_alias}\t{device_address}",
	"tooltip-format-enumerate-connected-battery": "{device_alias}\t{device_address}\t{device_battery_percentage}%"
    },
    "battery": {
        "bat": "BATT",
        "interval": 60,
        "states": {
            "warning": 30,
            "critical": 15
        },
        "format": "{capacity}% {icon}",
        "format-icons": ["", "", "", "", ""],
        "max-length": 25
    },
    "backlight": {
        "device": "intel_backlight",
        "format": "{percent}% {icon}",
        "format-icons": ["", ""]
    }
}
