# preload all wallpapers
preload = ~/.config/hypr/themes/wallpaper_blue_arch.jpg

# set the wallpapers
{{ if eq .chezmoi.hostname "sesa150507-beast" }}
wallpaper = DP-1, ~/.config/hypr/themes/wallpaper_blue_arch.jpg
wallpaper = DP-2, ~/.config/hypr/themes/wallpaper_blue_arch.jpg
wallpaper = DP-3, ~/.config/hypr/themes/wallpaper_blue_arch.jpg
{{ else if eq .chezmoi.hostname "mac-linux" }}
wallpaper = DP-1, ~/.config/hypr/themes/wallpaper_blue_arch.jpg
wallpaper = HDMI-A-3, ~/.config/hypr/themes/wallpaper_blue_arch.jpg
{{ else if eq .chezmoi.hostname "patrik-zenbook" }}
wallpaper = eDP-1, ~/.config/hypr/themes/wallpaper_blue_arch.jpg
{{ else }}
wallpaper = *, ~/.config/hypr/themes/wallpaper_blue_arch.jpg
{{ end }}
