# ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
# ┃                     Monitor Configuration                   ┃
# ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛

# Monitor wiki https://wiki.hyprland.org/Configuring/Monitors/

# See https://wiki.hyprland.org/Configuring/Monitors/
{{ if eq .chezmoi.hostname "sesa150507-beast" }}
monitor = DP-1, 3840x2160, 1200x240, 1.5
monitor = DP-2, 1920x1200, 0x0, 1
monitor = DP-3, 1920x1200, 3760x0, 1
monitor = DP-2, transform, 1
monitor = DP-3, transform, 1
{{ else }}
monitor = , preferred, auto, 1
{{ end }}


# If you need to scale things like steam etc, please uncomment these lines.
#xwayland {
#  force_zero_scaling = true       # Unscale XWayland
#}

# Adjust GDK_SCALE accordingly to your liking.
#env = GDK_SCALE, 2                # GDK Scaling Factor (no fractional scaling)

# Electron based apps use X11 as default, auto should detect wayland
env = ELECTRON_OZONE_PLATFORM_HINT, auto
